{{- $dest := .Destination -}}
{{- $alt := .Text -}}
{{- $title := .Title -}}
{{- $res := .Page.Resources.GetMatch $dest -}}
{{- if $res }}
  {{- $res = $res.Resize "1200x" -}}
  <img src="{{ $res.RelPermalink }}" alt="{{ $alt }}" {{ with $title}} title="{{ . }}"{{ end }} loading="lazy" width="{{ $res.Width }}" height="{{ $res.Height }}" data-testid="content-image" />
{{- else }}
  {{- $u := $dest -}}
  {{- if and (not (hasPrefix $u "/")) (not (hasPrefix $u "http")) }}{{ $u = printf "%s%s" .Page.RelPermalink $u }}{{ end }}
  <img src="{{ $u | safeURL }}" alt="{{ $alt }}" {{ with $title}} title="{{ . }}"{{ end }} loading="lazy" data-testid="content-image-url" />
{{- end }}